.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap{
  outline: none;
  height: 100vh;
  background: white;
  padding: 1rem;
}

.tiptap ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

.tiptap ol{
  list-style-type: decimal;
  margin-left: 20px; 
  padding-left: 0; 
}

.tiptap blockquote {
  margin: 0 0 20px; 
  padding: 10px 20px; 
  border-left: 2px solid #ccc; 
  font-style: italic; 
}

.tiptap h2 {
  font-size: 24px; 
  color: #333; 
  margin-top: 20px;
  margin-bottom: 10px; 
}

.tiptap h3 {
  font-size: 20px; 
  color: #666; 
  margin-top: 15px; 
  margin-bottom: 5px; 
}


.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0D0D0D, 0.1);
}

.tiptap hr {
  border: none;
  border: 1px solid #ccc; 
  margin: 20px 0;
}